<a href="https://colab.research.google.com/github/dcgrant09/UW-Deception/blob/main/DC_Grant_preassessment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# AWS Bootcamp: Machine Learning (ML) Python Assessment
---

**DIRECTIONS:**
1. Please make a copy of this Colab and answer the questions in the coding cells below.
2. When you are finished, share the Colab link with the email: train.pd@the-cs.org.

##### **Question #1:** Print the statement: `The year is 2022.`

In [ ]:
year = 'The year is 2022.'
print(year)

The year is 2022.

##### **Question #2:** Print the sum of 76 and 92.

In [ ]:
k = 76
p = 92
kp = k + p
print(kp)

168

##### **Question #3:** Create a variable called `name` and assign it to your name. Then print a statement that reads: `Welcome back, [YOUR NAME]`.

In [ ]:
name = 'DC GRANT'
welcome = 'Welcome back, '
print(welcome + name + '.')

Welcome back, DC GRANT.

##### **Question #4:** Write a function named `happy_bday` that has one parameter, `name`. If, for example, the argument for `name` is `"Hans"`, it prints
```
Happy Birthday Hans!
```
Call the function and wish a friend happy birthday!

In [ ]:
def happy_bday(name):
	print('Happy Birthday ' + name + '!')

happy_bday('Hans')

Happy Birthday Hans!

##### **Question #5:** Write a function named `how_old` that has two parameters -- `name` and `age`. If the argument for `name` is `"Ana"` and the argument for age is `13`, the function should print: `Ana is 13 years old. `

Call the function with your name and age.

In [ ]:
def how_old(name, age):
  print(name + ' is ' + age + ' years old.' )

how_old('D.C.', 'over 21')

D.C. is over 21 years old.

##### **Question #6:** Create a list called `countries` with the countries: Mexico, France, and Australia.

In [ ]:
countries = ['Mexico', 'France', 'Australia']

##### **Question #7:** Use indexing to print Alexus' name.

In [ ]:
family = ["Rebecca", "Samuel", "Indiyah", "Alexus"]

In [ ]:
family = ["Rebecca", "Samuel", "Indiyah", "Alexus"]
last = family[3]
print(last)

Alexus

##### **Question #8:** Replace 'monkeys' with 'penguins' in the list below.

In [ ]:
fav_animals = ["giraffes", "walruses", "pandas", "peacocks", "monkeys"]

In [ ]:
fav_animals = ["giraffes", "walruses", "pandas", "peacocks", "monkeys"]

fav_animals[4] = "penguins"

---
Â© 2023 The Coding School, All rights reserved